* {
    margin: 0
}

html body {
    height: 100vh;
}

body {
    padding-top: 0
}

b,strong {
    font-weight: 600
}

#okWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: linear-gradient(337deg, #16134a, #7f9cea);
  background-size: 400% 400%;
  -webkit-animation: mainGradient 15s ease infinite;
  -moz-animation: mainGradient 15s ease infinite;
  animation: mainGradient 15s ease infinite;
}

#buttonWrapper {
  justify-self: flex-end;
}

#everythingButtons {
  display: flex;
  align-self: flex-end;
  margin-left: 10px;
  margin-bottom: 10px;
}

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #BFC0C0;
  margin: 20px 20px 20px 20px;
  color: #BFC0C0;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

a {
  color: #BFC0C0;
  text-decoration: none;
  letter-spacing: 1px;
  position: relative;
  transition: all .45s ease-Out;
}

#underline {
  width: 100%;
  height: 2.5px;
  margin-top: 15px;
  align-self: flex-end;
  left: -200px;
  background: #BFC0C0;
  position: absolute;
  transition: all .3s ease-Out;
  bottom: 0;
}

.button:hover #underline {
  left: 0;
}

#everythingOK {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  color: #fff;
}

#okText {
  font-size: 52px;
  font-family: "Calistoga", cursive;
}

@-webkit-keyframes mainGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes mainGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes mainGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
